<% if user_signed_in? %>
  <div style="display: flex; justify-content: center;">
    <div style="width: 50%; text-align: left;">
      <p><b>Welcome Video Sharing, <%= current_user.email %></b></p>
      <%= link_to("Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }) %>
    </div>
  </div>

  <!-- Show notifications -->
  <br>
  <br>
  <div id="notifications-container" style="margin: auto; width: 50%;">
    <b>Notifications</b>
    <% if @notifications.any? %>
      <ul id="notifications-list">
        <% @notifications.each do |notification| %>
          <li style="display: flex; align-items: center;">
            <%= notification.content %>
            <%= button_to "x", notification_path(notification), method: :patch, params: { notification: { viewed: true } }, class: "mark-as-viewed" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <!-- Add Youtube Video -->
  <br>
  <br>
  <div style="margin: auto; width: 50%;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModal">
      Share Video
    </button>
  </div>

  <!-- Show All Videos -->
  <br>
  <br>
  <div style="margin: auto; width: 50%;">
    <% Video.all.order(id: :desc).each do |video| %>
      <div class="embed-responsive embed-responsive-16by9">
        <p><b><%= video.title %></b></p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video.uid %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <br>
    <% end %>
  </div>
<% else %>
  <div style="display: flex; justify-content: center;">
    <div style="width: 50%; text-align: left;">
      <h1>Videos Sharing</h1>
      <%= link_to 'Sign in', new_user_session_path %>
    </div>
  </div>
<% end %>

<!-- Modal Add YouTube Video -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="videoModalLabel">Youtube Video</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: Video.new, url: videos_path, remote: true) do |form| %>
          <%= form.text_field :link, placeholder: "Enter YouTube link", class: "form-control" %>
          <%= form.submit "Add Video", class: "btn btn-primary mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
